@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

h1, h2, h3, h4 {
  font-family: 'Lato', sans-serif;
}

a {
  color: red;
}

#blue-btn {
  color: white;
  background-color: blue;
  text-decoration: none;
  padding: 10px 20px;
  border-radius:  5px;
  opacity: 0.7;
}

#blue-btn:hover {
  opacity: 1;
}

h2 {
  color:  rgb(50,50,50);
}

.card {
  box-shadow: 5px 5px 5px rgb(100,100,100);
  text-align: center;
  padding:  30px;

}

.banner {
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("wagon.jpg");
  padding:  200px;
  background-size:  cover;
  background-position: center;
  text-align: center ;
}

.banner h1, .banner h2{
  color: white;
}

body {
  margin: 0;
}
